{%include 'navigation.html' %}
{%include 'base.html'%}
{%block content%}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function(){
        $('.toast').toast('show');
    });
</script>

<style>
    .buttona{
        border-color:transparent;
        background-color: #009DFF;
        /* top, right,bottom,left */
        padding:.5rem 5rem .5rem 5rem;
        border-radius: 2rem;
    }
    
    .container{
        padding:1rem;
        
        background-image: linear-gradient(170deg, #FF5B5B,#FFA654);
        width:40%;
        border-radius:1rem;
        
    }
    
    .form-control{
        background-color: #efefef;
        border-radius: .75rem;
        
    }
    
    .toast-container{
        padding:5rem;
    }
    
</style>


<div class="container text-center">
<h2 style="padding-bottom:1rem;">Submit an Item to your shopping list</h2>
    <form method="POST">
        <div class="mb-3 row">
            <div class="col"></div>
            <div class="col-7">
                <label class="form-label">Item Name</label>
                <input type="text" name="item-name" class="form-control" id="exampleFormControlInput1" placeholder="enter in your item">
            </div>
            <div class="col"></div>
        </div>
        <div class="mb-3 row">
            <div class="col"></div>
            <div class="col-7">

                <label class="form-label">Item Price</label>
                <input type="text" name="item-price" class="form-control" id="exampleFormControlInput1" placeholder="How much? Put it without the $">
            </div>
            <div class="col"></div>
        </div>
        <div class="mb-3 row">
            <div class="col"></div>
            <div class="col-7">

                <label class="form-label">Quanitity</label>
                <input type="number" name="quantity" class="form-control" id="exampleFormControlInput1" placeholder="How Many">
            </div>
            <div class="col"></div>
        </div>
        {%csrf_token%}
        <button type="submit" class="buttona">submit</button>
    </form>
</div>
    

{%if messages%}
{%for message in messages%}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
          </svg>
        <strong class="me-auto">Sumbitted Successfully</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        You added {{new_item.quantity}} {{new_item.item_name}} to your list!
      </div>
    </div>
  </div>
{%endfor%}
{%endif%}

    
    
{%endblock%}